<div class='container'>

  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>Welcome to NewsUK Alerts!</h2>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <p>
        You have created <span class="text-success"><%= pluralize current_user.agents.count, "robot" %></span>.
      </p>
      <p>
        <%= link_to 'View <i class="icon-chevron-right"></i>'.html_safe, agents_path, class: "btn btn-primary" %>
      </p>
    </div>
    <div class='col-md-6'>
      <p>
        Your robots have recorded
        <span class="text-success"><%= pluralize current_user.events.recent.count, "event" %> recently</span> and
        <span class=""><%= pluralize current_user.events.count, 'event' %> in total</span>.
      </p>
      <p>
        <%= link_to 'View <i class="icon-chevron-right"></i>'.html_safe, events_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

  <div class='row' style='min-height: 250px'></div>

  <div class='row'>
    
    <div class='col-md-2'>
      <%= image_tag 'NewsUK.png', :class => 'img-responsive img-rounded' %>
    </div>
  </div>

</div>
